body {
/* background: url(https://www.colourbox.com/preview/2231450-beautiful-fireworks-on-the-black-sky-background.jpg);
background-repeat: no-repeat;
background-size: cover;     */
background: pink;
}
h1 {
    color: rgb(150, 147, 147);
    border: 8px dashed blue;
}

h4 {
    background: rgb(200, 100,0)
}

l1 {
    color:green;    
}   


