body {
    background-color: #232323;
    margin: 0;
    font-family: "Lato," sans-serif;
}
 
h1 {
    background-color: steelblue;
    color:white;
    text-align: center;
    margin:0;
    font-weight: normal;
}
#colorDisplay {
    text-transform: uppercase;
}
.square {
    width: 30%;
    background:purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

.container{
  max-width: 600px;
  margin: 0 auto ;
}

#stripe {
    background-color: white;
    height: 30px;
    text-align:center;
    color:white;
}

#message {
    color:#232323;
}

.selected {
    background-color: blue;
    color:white
}

.hide {
    display:none;
}

.square {
    border-radius: 20px;
}